/*Main Styles*/
body{ font: 20px "Trebuchet MS", sans-serif; margin: 50px 0 0 0; background: #e6e6e6; height: 100%}
form {margin: 0px;}
h3 {font-weight: bold; font-size: 18px; padding-left: 20px;}
h4 {margin: 25px 0 0 0;}

/*DIVS & Sub-sections*/
div.login-form { font-size: 20px; }
.header { background-color: #01020e; width: 100%; position: absolute; top: 0px; height: 40px }
div.footer { background-color: #01020e; width: 100%;height: 50px; padding: 10px 0 20px 0px; color: #fff; font-size:12px;}
ul#station-update {list-style: none; margin-top: 0;}
ul#station-update li {margin-bottom: 15px;}
div.station-name {font-size:18px; display: inline; line-height: 18px;}
div.station-form {width: 200px; display: inline;}
div.station-button {width: 200px; display: inline;}
span.station-updatedby {font-size:12px; display: inline;}
ol#pagination li {display: inline; margin: 10px; font-weight: bold; color: crimson;}
ol#pagination {float: right; padding-right: 30px;}
table.stations {font-size: 12px; margin: 20px 0 0 50px;}
table.admin {margin-left: 40px;}
table.user-table {width: 600px; font-size: 14px;}
table.user-permissions {width: 600px; font-size: 14px;}
.wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em; }
.push {height: 150px;}
.texture-info {margin-bottom: 20px;}
.texture-list {margin-bottom: 20px;}
.user-permissions {width: 600px; font-size: 14px;}
.user-info-panel {float: right; color: #fff; font-size: 16px; margin: 10px 10px 0 0; text-align: right;}


/*Individual Items*/
img.header {margin: 10px 0 10px 20px;}
a.footer {color: #fff; text-decoration: none;}
a.home {text-decoration: none; margin-left: 30px;}
.station-link {font-size: 11px;}
tr.header {font-weight: bold; font-size: 16px;}
.station-options {margin: 0 0px 0 0px; display: inline-table;}
.username {font-weight: bold; font-size: 18px;}

.feed-blueacorn {font-size: 10px; width: 400px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis; width:400px;}
.feed-pbay {font-size: 14px;
overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  width:400px;
}
.feed-blueacorn ul {font-size: 10px; list-style: none; padding: 0px; margin: 0px;}
.links {width:200px; text-align: left; list-style: none; font-size: 15px; margin-top: 30px; list-style-position: inside; }
.links ul {list-style: none;}
.links ul li a {text-decoration: none; font-weight: bold; color: #004099}
.links ul li a:visited {color: #004099}
.links ul li a:hover {color: darkgreen; font-size: 16px;}
.quick-links {width:200px; text-align: left; list-style: none; font-size: 15px; margin-top: 30px; list-style-position: inside; }
.quick-links ul {list-style: none; margin-left: -40px;}
.quick-links ul li a {text-decoration: none; font-weight: bold; color: #004099}
.quick-links ul li a:visited {color: #004099}
.quick-links ul li a:hover {color: darkgreen; font-size: 16px;}
.master-search {padding: 10px 20px 10px 0px;}
input.ui-button {padding: 5px 85px;}
.movie-list {padding: 5px;}
.craigslist {font-size: 10px; }
.craigslist ul {list-style: none;}
.craigslist ul li a {text-decoration: none; color: #004099}
.craigslist ul li a:hover {text-decoration: underline;}
.craigslist ul li a:visited {text-decoration: line-through;}

.level-up {text-decoration: none; color: #004099; font-size: 14px;}
.button-levup {
    background-color: #ccc; 
    border: 2px #fff ridge;
    font-size: 10px; 
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
}

span.goal {display: block; text-align: left;}
span.lvlup-totals {display: block; margin-bottom: 30px; }
span.pbay-error {font-style: italic; font-size: 12px;}

/* Weather Styles */
.temp {
    font-size: 16px;
    float: left;
}
span.temp-current {
    font-size: 30px;
    float: left;
    display:block;
}
